# SCLER - user configuration file

# Reputation Awarded tag addition (1 = enabled, 0 = disabled)
USE_RP_AWARD_TAG=1
# Scenario Progress Points tag addition (1 = enabled, 0 = disabled)
USE_SPP_TAG=1
# Commodity color tags (1 = enabled, 0 = disabled)
USE_COLOR_TAGS=1
# User notes addition (1 = enabled, 0 = disabled)
USE_USER_NOTES=1
# User dictionary replacements (1 = enabled, 0 = disabled)
USE_USER_DICT=1

# Commodity color words (semicolon-separated)
# Known commodity words: Adult; Apex; Grade A; Grade AA; Grade AAA; Grade B; Grade C; Juvenile; Ore; Pure; R; Raw;
COLOR_TAGS_BLUE=
COLOR_TAGS_GREEN=Grade AAA;
COLOR_TAGS_YELLOW=
COLOR_TAGS_RED=Pure;

# Cargo titles enrichment (1 = enabled, 0 = disabled)
USE_CARGO_TITLES=1

# Cargo title format:
# 1 = Direction | Rank | Haul        (default)
# 2 = Direction | Haul | Rank
# 3 = Rank | Haul | Direction
# 4 = Rank | Direction | Haul
# 5 = Haul | Rank | Direction
# 6 = Haul | Direction | Rank
TITLE_FORMAT=1

# Path to global.ini file (full path including filename, without quotes). Leave empty for auto-detection.
#   GLOBAL_INI_PATH=D:\Games\RSI\StarCitizen\LIVE\data\Localization\korean_(south_korea)\global.ini
GLOBAL_INI_PATH=C:\RSI\StarCitizen\LIVE\data\Localization\korean_(south_korea)\global.ini
