# SCLER - URLs configuration file

URL_API=https://api.github.com/repos/iceee234/scler/releases/latest
URL_DOWNLOAD=https://github.com/iceee234/scler/archive/refs/tags/latest.zip
URL_STAR=https://raw.githubusercontent.com/ssvasilev/STAR/main/STAR.bat
URL_STAR_API=https://api.github.com/repos/ssvasilev/STAR/releases/latest
URL_CONTRACTS=https://raw.githubusercontent.com/MrKraken/StarStrings/master/src/For_Tool_Creators/contracts.ini
URL_ORDNANCE=https://raw.githubusercontent.com/MrKraken/StarStrings/master/src/For_Tool_Creators/ordnance.ini
URL_MINING=https://raw.githubusercontent.com/MrKraken/StarStrings/master/src/For_Tool_Creators/mining.ini